@{
    @model Plat
}
<div class="col">
    <div class="card mb-4" style="width: 18rem;">
        <img src=@Url.Content($"/images/{Model.CheminImage}.jpg") class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
            <h5 class="card-title">@Model.Nom</h5>
            <p>Catégorie: 
                <a href="/plats/@Model.Categorie" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">@Model.Categorie</a> 
            </p>
            <p class="card-text">Prix: @Model.Prix $</p>
            <a href="/plats/details?id=@Model.Id" class="btn btn-primary">Détails</a>
        </div>
    </div>
</div>