@{
    ViewData["Title"] = "Plats";
}
@if (ViewBag.StatusCode == 404)
{
    <h1>Plats introuvable</h1>
}
else
{
    <div class="d-flex">
        <h1>Les plats </h1>

        @if (ViewBag.categorie != null)
        {
            <h1 class="">(@ViewBag.categorie)</h1>
        }
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <partial name="_PlatsPartial" model="item"/>
            }
        </div>
    </div>

    @if (ViewBag.categorie != null)
    {
        <a asp-controller="Plats" asp-action="Index" class="btn btn-primary">Retour à la liste</a>

    }
}


