@{
    ViewData["Title"] = "Plats";
}
<h1>Les plats: @ViewBag.categorie</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_PlatsPartial" model="item"/>
        }
    </div>
</div>

@if (ViewBag.categorie != null)
{
    <a asp-controller="Plats" asp-action="Index" class="btn btn-primary">retour</a>

}

